<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <% User.forEach((usuario, i)=>{%>
      <tr>
        <th scope="row"><%=i + 1%></th>
        <td><%= usuario._id %></td>
        <td><%= usuario.Nombre %></td>
        <td><%= usuario.Email %></td>
      </tr>
    <%}) %>
  </tbody>
</table>
