<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Generando nuevo Usuario</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="text-center">

          <!--Esto es otra alerta-->
          <div id="mensaje" style="display:none" class="alert alert-success" role="alert">¡Se ha añadido un nuevo
            usuario!</div>

          <!--Inicio de Formulario-->
          <form class="form-signin" id="formulario" onsubmit="ajax()" action="/register" target="" method="POST"
            name="form-register">

            <label for="_nombre" class="sr-only">Nombre</label>
            <input type="text" id="_nombre" class="form-control" placeholder="Ingrese su Nombre" required=""
              autofocus="">


            <label for="_email" class="sr-only">Email address</label>
            <input type="email" id="_email" class="form-control" placeholder="Ingrese su email" required=""
              autofocus="">


            <label for="_contrasena" class="sr-only">Password</label>
            <input type="password" id="_contrasena" class="form-control" placeholder="Ingrese su Contraseña"
              required="">


            <!--Listado de Roles-->
            <div class="form-group" id="roldiv">
              <label for="_roles"><h4>Roles para escoger<h4></label>
              <select class="form-control" id="_selectRoleCreate">
                <option>SuperAdmin</option>
                <option>Admin</option>
                <option>Supervisor</option>
              </select>
            </div>


              <!--Esto es una alerta-->
              <div id="RegisterInvalidEmail" style="display:none" class="alert alert-danger" role="alert">El email ya
                esta
                en uso</div>

              <!--Modal Footer-->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button id="addUserModal" type="button" class="btn btn-outline-dark d-none" data-bs-toggle="modal"
  data-bs-target="#createModal">
  Crear Usuario Nuevo
</button>