<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Borrar el Usuario</h4>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="text-center">

<div>
   <h4> ¿Esta seguro de borrar este usuario?</h4>
</div>
            <!--Modal Footer-->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-danger" id="BotonGuardar">Borrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- Button trigger modal -->
 <button id="deleteModalButton" type="button" class="btn btn-outline-dark d-none" data-toggle="modal" data-target="#deleteModal" onclick="">
   
  </button>
  
