<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editModalTitle">Editando Usuario</h4>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="text-center">

          <div>

            <!--Formulario-->

            <div class="text-center" id="editUsersFormulario">

              <form class="form-signin" action="/update" target="" method="POST" name="form-edit">


                <label for="_nombreEdit" class="sr-only">Nombre</label>
                <input type="text" id="_nombreEdit" class="form-control" placeholder="Coloque el Nombre" required>

                <label for="_emailEdit" class="sr-only">email</label>
                <input type="email" id="_emailEdit" class="form-control" placeholder="Coloque el Email" required>


                <div class="form-group" id="roldiv">
                  <label for="_roles"><h4>Roles para escoger<h4></label>
                  <select class="form-control" id="_roles">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>




              </form>

            </div>

          </div>
          <!--Modal Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" id="BotonEditar" onclick="Update()">Editar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal
<button id="editModalButton" type="button" class="btn btn-outline-dark d-none" data-toggle="modal"
  data-target="#editModal">

</button> -->