<!-- Modal -->
<div class="modal fade" id="Editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Editando Usuario</h4>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="text-center">

          <div>

            <!--Formulario-->

            <div class="text-center" id="editUsersFormulario">

              <form class="form-signin" onsubmit="" action="/userupdate" target="" method="POST" name="">


                <label for="_nombre" class="sr-only">Nombre</label>
                <input type="text" id="_nombreedit" class="form-control" placeholder="Coloque el Nombre" required="">

                <label for="_email" class="sr-only">email</label>
                <input type="email" id="_emailedit" class="form-control" placeholder="Coloque el Email" required=""
                  autofocus="">

              </form>

            </div>

          </div>
          <!--Modal Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" id="BotonEditar">Editar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button id="editModalButton" type="button" class="btn btn-outline-dark d-none" data-toggle="modal"
  data-target="#Editmodal" onclick="">

</button>